---
import Layout from "../layouts/Layout.astro";
---

<Layout title="MovieNight App">
  <main>
		<img src="/logo.webp" width="250px" height="250px" alt="MovieNight App Logo"/>
    <h1>Make <span class="text-gradient">Movie Night</span> simple</h1>
    <p>App coming soon!</p>
    <section>
      <form
        class="mt-8 flex flex-col space-y-2 items-center"
        action="https://formsubmit.co/1bc839cdd70b5827c88c82a62647373c"
        method="POST"
      >
        <span class="w-full">Sign up for updates!</span>
        <input
          type="email"
          name="email"
          placeholder="Email Address"
          autocomplete="email"
          required
        />
        <button type="submit">Submit</button>
      </form>
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    height: 100vh;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  input {
    padding: 8px;
    border-radius: 10px;
    background-color: #334155;
    max-width: 275px;
    width: 100vw;

    outline: none;

    border: 2px solid transparent;
  }

  input:focus {
    border: 2px solid white;
  }

  button {
    padding: 4px 16px;
		border-radius: 20px;
  }

  button:hover {
    background: #334155;
  }
</style>
